<div class="homepage-custom">
  <div class="homepage-custom__parallax">
    <div class="text-center">
      <a href="{{ settings.homepage_lower_link }}"> 
        <div class="mega-button">
          <div class="mega-button-content">
            <h4 class="title">{{ settings.homepage_lower_link_text }}</h4>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
