<!-- /templates/collection.list.liquid -->
{% comment %}

  By using a variation of the 'view all' parameter technique, you can create
  a custom layout for any template by adding ?view=xxxx

  In this example, you can have a list view of your collection page by going to
  /collections/all?view=list

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

  For more information on the ?view parameter:
    - http://docs.shopify.com/support/configuration/store-customization/can-i-show-more-than-50-products-on-my-homepage-can-i-add-a-view-all-function-to-my-collection-pages#add-view-all

{% endcomment %}
{% paginate collection.products by 20 %}
{% if collection.image %}<div class="collection-image" style="background-image: url('{{ collection.image | img_url: '1024x1024' }}');"> {% endif %}
  <div class="collection-title text-center">
    <div class="grid">
      <h1 class="collection-text--headline title">{{ collection.title }}</h1>
      {% if collection.description.size > 0 %}
      <div class="collection-text--body text-center accent rte grid__item large--three-fifths push--large--one-fifth">
        {{ collection.description }}
      </div>
      {% endif %}
    </div>
  </div>
  {% if collection.image %}<div class="collection-image-overlay"></div>
</div>
{% endif %}

<div class="wrapper">
  {% if settings.collection_sorting %}
  <div class="row text-right collection__sort">
    {% include 'collection-sorting' %}
  </div>
  {% endif %}
  <div class="page-margin grid--rev">
    {% if settings.collection_custom_nav_list != blank or settings.collection_type_nav or settings.collection_vendor_nav or settings.collection_tag_nav %}
    <div class="grid__item large--three-quarters">
    {% else  %}
    <div class="grid__item large--one-whole">
    {% endif %}
    <div class="grid-uniform">
      {% for product in collection.products %}
        {% include 'product-list-item' %}
      {% else %}
        <div class="grid__item">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>
      {% endfor %}
    </div>
    {% if paginate.pages > 1 %}
      <hr>
      <div class="text-center">
        {% include 'pagination-custom' %}
      </div>
    {% endif %}
  </div>
  {% if settings.collection_custom_nav_list != blank or settings.collection_type_nav or settings.collection_vendor_nav or  settings.collection_tag_nav %}
  <div class="grid__item large--one-quarter">
    {% include 'collections-sidebar' %}
  </div>
  {% endif %}
</div>
{% endpaginate %}
</div>