<!-- /templates/page.liquid -->
<div class="wrapper page-margin">
  <div class="grid">
    <div class="grid__item one-whole">
      {% comment %}<div class="pp-page-title-container">
      	<h2 class="title text-center pp-page-title">{{ page.title }}</h2>
      </div>{% endcomment %}
      <div class="rte">
        {{ page.content }}
      </div>
      <hr style="margin-top: 50px;" />
    </div>
  </div>
</div>