
<!-- /templates/page.liquid -->

<div class="wrapper page-margin" id="support-page">
  <div class="grid">
    <div class="grid__item">
      <div class="navigation-container">
        {% include 'support-sidebar-nav' %}
      </div>
      <div id='content'>
        {% include 'support-home' %}
      </div>
    </div>
  </div>
</div>
