<!-- /templates/page.liquid -->

<div class="shop-by-aircraft wrapper">
	<h2>Shop By Aircraft</h2>
  	<div class="grid-uniform">
    	{% for link in linklists.shop-by-aircraft-all-4-0.links %}
      	<div class="grid__item large--one-quarter">
    		<a class='{{ link.title | handleize }}' href="{{ link.url }}" title="{{ link.title | handleize }}">{{ link.title }}</a>
        </div>
        {% endfor %}
    </div>
</div>
