<!-- /templates/page.liquid -->
<div class='full-width-bg'>
  <div>
    <div class="grid">
      <div class="grid__item one-whole">
        <div class="rte">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</div>
