<div class="subscribe-polar-pro">
  <div class="section-banner">
    <div class="hit-that item-banner">
      <h3>GEAR<br/>REVIEWS</h3>
    </div>
    <div class="product-release item-banner hide-mobile">
      <h3>PRODUCT<br/><span>RELEASES</span></h3>
    </div>
  </div>
  <div class="subscribe-form item-banner">
    Be the <span>FIRST</span> to know what's going on at <span>POLARPRO</span> by signing up for our newsletter.
    {% include 'newsletter-form' %}
  </div>
  <div class="section-banner item-banner">
    <div class="product-release item-banner hide-desktop">
      <h3>PRODUCT<br/><span>RELEASES</span></h3>
    </div>
    <div class="venture-blog">
      <h3>VENTURE<br/><span>BLOG</span></h3>
    </div>
    <div class="youtube">
      <h3>YOUTUBE<br/><span>VIDEOS</span></h3>
    </div>
  </div>
</div>
