<!-- /templates/page.liquid -->
<div class="wrapper page-margin" id="support-page">
  <div class="grid">
    <div class="grid__item">
      <div class="navigation-container">
        {% include 'support-sidebar-nav' %}
      </div>
      <div id='content'>
        <h2 class='title text-center pp-page-title' style='display:block;'>{{ page.title }}</h2>
        <br>
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
