
<!-- /templates/page.liquid -->

<div class="wrapper page-margin">

  <div class="rte">
    <div class='pp-page-title-container'>
      <h2 class="title text-center pp-page-title">{{ page.title }}</h2>
    </div>
    <center>
      {{ page.content }}
    </center>
  </div>

  <div class="grid">
    <div class="grid__item">
      {% comment %}<h2 class="title text-center">{{ page.title }}</h2>{% endcomment %}
      {% comment %}
        Regular page content goes here.
      {% endcomment %}
      <div class='get-involved-container'>
        <div id="tabs">
          <ul class='clear-fix'>
            <li><a href="#tabs-1" id='brand-ambassador-link'>Brand Ambassador</a></li>
            <!-- <li><a href="#tabs-2" id='project-inquiries-link'>Project Inquiries</a></li> -->
            <li><a href="#tabs-3" id='youtube-reviews-link'>Media Reviews</a></li>
          </ul>


          <div id="tabs-1" class='form-wrapper'>
            <div class='title'>
              Brand Ambassador
            </div>
            <div class='desc'>
              The Brand Ambassador is a team of adventure seekers, outdoor explorers, cinematographers and photographers who are highly engaged in the filming industry. A candidate for the position of Brand Ambassador should be an enthusiastic, outgoing individual with a considerable social media presence and a medium to large sized network. Each applicant presumably should already be familiar with PolarPro and endorses our products.
            </div>
            <div class="acerill-custom-form" id="brand-ambassador-form" data-form-id="578d6b3a-6b85-48bb-9a92-99d0ac2e929e"></div> <script type="text/javascript" src="//d23vcg4goqd90x.cloudfront.net/acerill-custom-forms-v2.min.js"></script>
          </div>
          <!-- <div id="tabs-2" class='form-wrapper'>
            <div class='title'>
              Project Inquiries
            </div>
            <div class='desc'>
              Request support for upcoming projects that highlight PolarPro products. Support includes technical access to professional quality camera filters and solutions. Please note that PolarPro does not generally provide financial support to projects. Each applicant presumably should already be familiar with PolarPro and endorses our products.
            </div>
            <div class="acerill-custom-form" data-form-id="63499350-ee35-40c5-bb98-e7acf7c80cc4"></div> <script type="text/javascript" src="//d23vcg4goqd90x.cloudfront.net/acerill-custom-forms-v2.min.js"></script>
          </div> -->
          <div id="tabs-3" class='form-wrapper'>
            <div class='title'>
              Press / Media
            </div>
            <div class='desc'>
              It is critical that applicants have a professional presence online. Your account should represent the values of the brand and have a concrete network of people who trust them and a strong following that will be receptive toward brand promotion.
            </div>
            <div class="acerill-custom-form" data-form-id="259e7469-e558-4c38-8e1f-2868ce445ce2"></div> <script type="text/javascript" src="//d23vcg4goqd90x.cloudfront.net/acerill-custom-forms-v2.min.js"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>


</script>
