<!-- /templates/page.liquid -->

<div class="wrapper page-margin cs-hub">
  <div class="grid">
    <div class="grid__item large--one-third medium--one-whole small--one-whole cinematographers">
      <div class='title'>Cinematographers <br /><span>Collection</span></div>
      <div class='content'>UV | ND4 | ND8 | ND16 | ND32 | ND 64</div>
      <div class='content'>ND4/PL | ND8/PL | ND16/PL | ND32/PL | ND64/PL</div>
      <a href='#' class='link'>More Info</a>
    </div>
    <div class="grid__item large--one-third medium--one-whole small--one-whole six-pack">
      <div class='title'>Filter 6<br /><span>Pack</span></div>
      <div class='content'>ND8 | ND16 | ND32</div>
      <div class='content'>ND4/PL | ND8/PL | ND16/PL</div>
      <a href='#' class='link'>More Info</a>
    </div>
    <div class="grid__item large--one-third medium--one-whole small--one-whole vivid-coll">
      <div class='title'>Vivid<br /><span>Collection</span></div>
      <div class='content'>ND4/PL | ND8/PL | ND16/PL</div>
      <a href='#' class='link'>More Info</a>
    </div>
    <div class="grid__item large--one-third medium--one-whole small--one-whole shutter-coll">
      <div class='title'>Shutter<br /><span>Collection</span></div>
      <div class='content'>ND8 | ND16 | ND32</div>
      <a href='#' class='link'>More Info</a>
    </div>
    <div class="grid__item large--one-third medium--one-whole small--one-whole gradient-coll">
      <div class='title'>Gradient<br /><span>Collection</span></div>
      <div class='content'>ND8 - GR | ND16 - 4 | ND32 - 8</div>
      <a href='#' class='link'>More Info</a>
    </div>
    <div class="grid__item large--one-third medium--one-whole small--one-whole artisan-coll">
      <div class='title'>Artisan<br /><span>Collection</span></div>
      <div class='content'>ND32/PL | ND16 - 4 | ND32 - 8</div>
      <a href='#' class='link'>More Info</a>
    </div>
    <div class="grid__item large--one-third medium--one-whole small--one-whole exposure-coll">
      <div class='title'>Exposure<br /><span>Collection</span></div>
      <div class='content'>ND64 | ND128 | ND256</div>
      <a href='#' class='link'>More Info</a>
    </div>


    <div class="grid__item">
      {% comment %}<h2 class="title text-center">{{ page.title }}</h2>{% endcomment %}
      {% comment %}
        Regular page content goes here.
      {% endcomment %}

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
